<nav class="navigation-palm">
	<input type="checkbox" name="navigation_trigger" id="navigation_trigger" class="navigation_trigger" value="1">
	<ul>
	  <li>{{#if logo}}<img src="{{logo}}">{{/if}}</li>
	  <li><label for="navigation_trigger" onclick>☰</label></li>
	</ul>	
	<ul class="regular_nav">
		<li> 
			<a href="http://www.frontmen.nl">Home</a>
		</li>
		<li> 
			<a href="http://www.frontmen.nl/blog">Blog</a>
		</li>
		<li> 
			<a href="http://www.frontmen.nl/awesome">Awesome</a>
		</li>
		<li> 
			<a href="http://www.frontmen.nl/contact">Contact</a>
		</li>
	</ul>
</nav>

