<nav class="navigation">
	{{#if logo}}<img src="{{logo}}">{{/if}}
	<ul>
		<li> 
			<a href="http://www.frontmen.nl">Home</a>
		</li>
		<li> 
			<a href="http://www.frontmen.nl/blog">Blog</a>
		</li>
		<li> 
			<a href="http://www.frontmen.nl/awesome">Awesome</a>
		</li>
		<li> 
			<a href="http://www.frontmen.nl/contact">Contact</a>
		</li>
	</ul>
</nav>

