<nav  class="navigation-wrist">
	<ul>
		<li> 
			<a href="http://www.frontmen.nl"><i class="fa fa-home"></i> </a>
		</li>
		<li> 
			<a href="http://www.frontmen.nl/blog"><i class="fa fa-beer"></i></a>
		</li>
		<li> 
			<a href="http://www.frontmen.nl/awesome"><i class="fa fa-github-alt"></i></a>
		</li>
		<li> 
			<a href="http://www.frontmen.nl/contact"><i class="fa fa-phone"></i></a>
		</li>
	</ul>
</nav>

